@import "tailwindcss";

@theme {
  --color-neonBlue: #08CB00;
  --color-neonPurple:  #08CB00;
  --color-neonGreen: #08CB00;
  --color-dark: #000000 ;
  --color-cardDark:  #08CB00;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    background-color: #000000;
    color: #08CB00;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@layer components {
  .glass-panel {
    background-color: #0e0d0d;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(154, 216, 114, 0.1);
    border-radius: 1rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  }

  .neon-text {
    color:  #08CB00;;
  }

  .btn-neon {
    background-color:  253900;
    color: #0a0f0a;
    font-weight: 700;
    padding: 0.75rem 1.5rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: opacity 0.2s;
  }

  .btn-neon:hover {
    opacity: 0.85;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: #0a0f0a; }
::-webkit-scrollbar-thumb { background: rgba(154, 216, 114, 0.2); border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: rgba(154, 216, 114, 0.35); }
